@using eShopSolution.ViewModels.System.Users
@model RegisterRequest

<div id="account-register" class="container">
    @if (ViewBag.errorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible">
            <i class="fa fa-exclamation-circle"></i> @ViewBag.errorMessage
        </div>
    }
    <div class="row">
        <aside id="column-left" class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
            @await Component.InvokeAsync("SideBarAccount")
        </aside>
        <div id="content" class="col-sm-9">
            <div id="main">
                <div class="ttv-sub-pages-inner-content">
                    <p>
                        If you already have an account with us, please login at the
                        <a asp-controller="account" asp-action="login">login page</a>.
                    </p>
                    <form asp-controller="account" asp-action="register" method="post" class="form-horizontal">
                        <fieldset id="account">
                            <legend class="ttvpage-sub-title">Your Personal Details</legend>
                            <div class="form-group required" style="display: none ;">
                                <label class="col-sm-2 control-label">Customer Group</label>
                                <div class="col-sm-10">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="customer_group_id" value="1" checked="checked"> Default
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label ttvpage-sub-label" asp-for="FirstName">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="FirstName" value="" placeholder="First Name" class="form-control">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label ttvpage-sub-label" asp-for="LastName">Last Name</label>
                                <div class="col-sm-10"><input type="text" asp-for="LastName" placeholder="Last Name" class="form-control"></div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label ttvpage-sub-label" asp-for="Email">E-Mail</label>
                                <div class="col-sm-10">
                                    <input type="email" asp-for="Email" placeholder="E-Mail" class="form-control">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label ttvpage-sub-label" asp-for="PhoneNumber">Telephone</label>
                                <div class="col-sm-10">
                                    <input type="tel" asp-for="PhoneNumber" placeholder="Telephone" class="form-control">
                                </div>
                            </div>
                            <legend class="ttvpage-sub-title">Your Account</legend>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label ttvpage-sub-label" asp-for="UserName">Username</label>
                                <div class="col-sm-10">
                                    <input type="text" asp-for="UserName" placeholder="Username" class="form-control">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label ttvpage-sub-label" asp-for="Password">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" asp-for="Password" placeholder="Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group required">
                                <label class="col-sm-2 control-label ttvpage-sub-label" asp-for="ConfirmPassword">Password Confirm</label>
                                <div class="col-sm-10">
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Password Confirm" class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="buttons clearfix">
                                <div class="form-group">
                                    <label class="col-sm-2"></label>
                                    <div class="col-sm-10">
                                        <input type="submit" value="Continue" class="btn btn-primary ttv-innerpage-button">
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
