@mixin flex(
  $align-items: stretch,
  $justify-content: flex-start,
  $direction: row,
  $gap: normal normal,
  $flex-wrap: nowrap
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  flex-wrap: $flex-wrap;
  gap: $gap;
}
