@import "../../assets/colors.scss";
@import "../../assets/fonts.scss";

.ctable {
  &.responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 540px;

    th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      vertical-align: middle;
      z-index: 2;
    }
  }

  table {
    width: 100%;
    color: $dark;

    thead {
      th {
        @extend .table-header-text;
        text-transform: capitalize;
        vertical-align: bottom;
        border-bottom: 1px solid $border-table;
        background-color: $table-header;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: $table-row;
        }

        td {
          @extend .input-text;
          border-top: 1px solid $textbox-border;
        }

        &:last-child {
          td {
            border-bottom: 1px solid $border-table;
          }
        }
      }
    }

    td,
    th {
      padding: 12px 24px;
      vertical-align: middle;
    }
  }
}
