<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication3</title>
    <!-- font -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/opc_electronics_salora_2301/assets/fonts/Poppins.css" rel="stylesheet">
    <!-- common CSS START-->
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="~/opc_electronics_salora_2301/assets/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/opc_electronics_salora_2301/assets/css/nivo.css" rel="stylesheet" />
    <link href="~/opc_electronics_salora_2301/assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/opc_electronics_salora_2301/assets/css/jquery.minicolors.css" rel="stylesheet" />
    <link href="~/opc_electronics_salora_2301/assets/css/bootstrap-toggle.min.css" rel="stylesheet" />
    <link href="~/opc_electronics_salora_2301/assets/css/theme.css" rel="stylesheet" />
    <link href="~/opc_electronics_salora_2301/assets/css/common.css" rel="stylesheet" />
    <link href="~/opc_electronics_salora_2301/assets/css/custom.css" rel="stylesheet" />
</head>
<body id="index" class="lang-es country-us currency-usd layout-full-width page-index tax-display-disabled" data-menu-sticky="1">
    <div class="mousehoverimage hidden">1</div>
    <div class="mainmenustickystatus hidden">1</div>
    <div class="ttvcms-loading-overlay" style="display: none;">
        <div class="ttvcms-loading-inner">
            <img class="logo img-responsive" src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/catalog/themevolty/logo/demo_img_1.png" alt="Your Store">
            <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/catalog/themevolty/pageloader/ttv_loading.gif" alt="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/catalog/themevolty/pageloader/ttv_loading.gif">
        </div>
    </div>
    <div class="ttv-main-div">
        @await Component.InvokeAsync("NavbarHeader")
        <div id="wrapper">
            @RenderBody()
        </div>
        <footer id="footer">
            <div id="quickviewdata" class="modal fade quickview" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"></div><button type="button" class="close ttvquickview-close-btn" data-dismiss="modal">×</button></div></div></div><div class="footer-container">
                <div class="container ttvfooter-logo-link-wrapper">
                    <div class="row">
                        <div class="ttvfooter-storelogo-imformation">
                            <div class="ttvfooter-account-link">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 ttvfooter-logo-wrapper"><div class="ttvfooter-about-logo-wrapper"><div class="ttvfooter-logo-block"><div class="ttvfooter-img-block"><img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/logo/Footer-logo-169x54.png" alt="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/logo/Footer-logo-169x54.png"></div><div class="ttvfooter-logo-desc">Generate Lorem Ipsum placeholder text for use in your graphic, print and web layouts, and discover.</div></div></div></div><div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 ttvfooter-account-wrapper"><div class="ttvfooter-title-wrapper" data-target="#footer_sub_menu_linksecond" data-toggle="collapse"><span class="ttvfooter-title">PRODUCTS</span><span class="float-xs-right ttvfooter-toggle-icon-wrapper"><span class="navbar-toggler collapse-icons ttvfooter-toggle-icon"><i class="fa fa-angle-down add" aria-hidden="true"></i><i class="fa fa-angle-up remove" aria-hidden="true"></i></span></span></div><ul id="footer_sub_menu_linksecond" class="collapse ttvfooter-link-wrapper"><li><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=product/special">Specials</a></li><li><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=affiliate/login">Affiliate</a></li><li><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/return/add" title="Returns" rel="nofollow">Returns</a></li><li><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=information/contact">Contact Us</a></li><li><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=information/sitemap">Site Map</a></li></ul></div><div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 ttvfooter-account-wrapper">
                                    <div class="ttvfooter-title-wrapper" data-target="#footer_sub_menu_link" data-toggle="collapse"><span class="ttvfooter-title">Customer care</span><span class="float-xs-right ttvfooter-toggle-icon-wrapper"><span class="navbar-toggler collapse-icons ttvfooter-toggle-icon"><i class="fa fa-angle-down add" aria-hidden="true"></i><i class="fa fa-angle-up remove" aria-hidden="true"></i></span></span></div><ul id="footer_sub_menu_link" class="collapse ttvfooter-link-wrapper">
                                        <li>
                                            <a class="cms-page-link" href="#" title="Our terms and conditions of delivery">
                                                About Us
                                            </a>
                                        </li>
                                        <li>
                                            <a class="cms-page-link" href="#" title="Our terms and conditions of delivery">
                                                Delivery Information
                                            </a>
                                        </li>
                                        <li>
                                            <a class="cms-page-link" href="#">
                                                Privacy Policy
                                            </a>
                                        </li>
                                        <li>
                                            <a class="cms-page-link" href="#" title="Our terms and conditions of delivery">
                                                Terms &amp; Conditions
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div><div id="block_myaccount_infos" class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <div class="ttvfooter-title-wrapper" data-target="#footer_sub_menu_myaccount" data-toggle="collapse"><span class="ttvfooter-title">INFORMATION</span><span class="float-xs-right ttvfooter-toggle-icon-wrapper"><span class="navbar-toggler collapse-icons ttvfooter-toggle-icon"><i class="fa fa-angle-down add" aria-hidden="true"></i><i class="fa fa-angle-up remove" aria-hidden="true"></i></span></span></div><ul id="footer_sub_menu_myaccount" class="collapse ttvfooter-link-wrapper">
                                    <li>
                                        <a class="cms-page-link" href="#" title="Our terms and conditions of delivery">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cms-page-link" href="#">
                                            Delivery Information
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cms-page-link" href="#" title="Our terms and conditions of delivery">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li>
                                        <a class="cms-page-link" href="#" title="Our terms and conditions of delivery">
                                            Terms &amp; Conditions
                                        </a>
                                    </li>
                                </ul>
                            </div><div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 ttvcmsfooter-contact-info">
                                <div class="ttvfooter-title-wrapper" data-target="#footer_sub_menu_store_info" data-toggle="collapse">
                                    <span class="ttvfooter-store-title ttvfooter-title">Store information</span>
                                    <span class="float-xs-right ttvfooter-toggle-icon-wrapper">
                                        <span class="navbar-toggler collapse-icons ttvfooter-toggle-icon">
                                            <i class="fa fa-angle-down add" aria-hidden="true"></i>
                                            <i class="fa fa-angle-up remove" aria-hidden="true"></i>
                                        </span>
                                    </span>
                                </div>
                                <div id="footer_sub_menu_store_info" class="collapse">
                                    <div class="ttvfooter-store-link">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span class="ttvfooter-store-label">Address:</span>
                                        <span class="ttvfooter-store-link">
                                            124 Red Cross Street,<br>United Kingdom
                                        </span>
                                    </div><div class="ttvfooter-store-link"><i class="fa fa-phone" aria-hidden="true"></i><span class="ttvfooter-store-label"></span><span>+91 9876543210</span></div><div class="ttvfooter-store-link"><i class="fa fa-envelope" aria-hidden="true"></i><span class="ttvfooter-store-label"></span><a href="emp@themevolty.com" class="dropdown ttvemail-send-link">emp@themevolty.com</a></div>
                                </div>
                            </div>
                        </div>
                    </div><div class="ttvbottom-to-top"><a href="javascript:" class="ttvbottom-to-top-icon"><span>Go Top</span><i class="fa fa-angle-up" aria-hidden="true"></i></a></div>
                </div>
                <div class="ttvfooter-copy-payment-icon-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="ttvcopylink col-xl-6 col-md-6 col-sm-12">
                                <a href="#"><p>© 2019 - Ecommerce software by Opencart™</p></a>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-12">
                                <div class="ttvfooter-payment-icon-img-block">
                                    <div class="ttvfooter-payment-icon-wrapper">
                                        <div class="ttvfooter-payment-content-block">
                                            <div class="ttvfooter-payment-icon">
                                                <a href="#">
                                                    <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/paymenticon/demo_img_1-60x40.png" alt="Sub title1">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ttvfooter-payment-content-block">
                                            <div class="ttvfooter-payment-icon">
                                                <a href="#">
                                                    <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/paymenticon/demo_img_2-60x40.png" alt="Sub title2">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ttvfooter-payment-content-block">
                                            <div class="ttvfooter-payment-icon">
                                                <a href="#">
                                                    <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/paymenticon/demo_img_3-60x40.png" alt="Sub title3">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="ttvfooter-payment-content-block">
                                            <div class="ttvfooter-payment-icon">
                                                <a href="#">
                                                    <img src="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/image/cache/catalog/themevolty/paymenticon/demo_img_4-60x40.png" alt="Sub title4">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- common JS START -->
    <script src="~/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="~/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/common.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/opc_electronics_salora_2301/assets/js/owl.js"></script>
    <script type="text/javascript" src="~/opc_electronics_salora_2301/assets/js/nivo.js"></script>
    <script type="text/javascript" src="~/opc_electronics_salora_2301/assets/js/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/opc_electronics_salora_2301/assets/js/jquery.minicolors.js"></script>
    <script type="text/javascript" src="~/opc_electronics_salora_2301/assets/js/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="~/opc_electronics_salora_2301/assets/js/jquery.storageapi.min.js"></script>
    <script src="~/opc_electronics_salora_2301/assets/js/commonthemevolty.js" type="text/javascript"></script>
    <script src="~/opc_electronics_salora_2301/assets/js/custom.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $(window).on('load', function () {
                var ttvMainSliderSpeed = $('.ttvcmsmain-slider-wrapper').attr('data-speed');
                var ttvMainSliderPause = '';
                if ($('.ttvcmsmain-slider-wrapper').attr('data-pause-hover') == 'true') {
                    ttvMainSliderPause = 1;
                }
                $('#ttvmain-slider').nivoSlider({
                    pauseTime: 5000000, pauseOnHover: ttvMainSliderPause, controlNav: false, effect: "random"
                });
            });

            $('.ttvcmsmain-prev').click(function (e) {
                e.preventDefault();
                $('.nivo-directionNav .nivo-prevNav').trigger('click');
                $('.ttvmain-slider-contant').fadeIn();
            });

            $('.ttvcmsmain-next').click(function (e) {
                e.preventDefault();
                $('.nivo-directionNav .nivo-nextNav').trigger('click');

                $('.ttvmain-slider-contant').fadeIn();
            });
        });
    </script>
    <script type="text/javascript">
        /*******************************tabproduct*******************************/
        var mobileViewSize = 991;

        $(document).ready(function () {
            /********************** Start Tab js *****************************/
            $('.tab-index').click(function (e) {
                $id = $(this).attr('data-tab-data');
                $paging = $(this).attr('data-tab-paging');
                $('.tab-index').removeClass('active');

                $('.ttvcmstab-product').removeClass('active');
                $('.ttvtab-pagination').removeClass('active');

                $('.ttvcmstab-product').hide();
                $('.ttvtab-pagination').hide();

                $(this).addClass('active');
                $('#' + $id).addClass('active').fadeIn('500');
                $('.' + $paging + '-pagination').addClass('active').show();
            });

            $('.ttvcmstab-product.active').fadeIn();
            $('.ttvtab-pagination.active').fadeIn();

            $('.ttvcmstab-title-product .ttvtab-pagination-wrapper').insertAfter('.ttvcmstab-title-product .ttvtab-title-wrapper .ttvtab-title');

            /********************** End Tab js *****************************/

            /****************** Start Tab Product Slider Js *******************************************/
            var owlClass = [
                //['slider className','navigation nextClass','navigation prevClass']
                ['.ttvtab-featured-product .ttvproduct-wrapper-content-box', '.ttvtab-featured-product-next', '.ttvtab-featured-product-prev'], ['.ttvtab-new-product .ttvproduct-wrapper-content-box', '.ttvtab-new-product-next', '.ttvtab-new-product-prev'], ['.ttvtab-special-product .ttvproduct-wrapper-content-box', '.ttvtab-special-product-next', '.ttvtab-special-product-prev'], ['.ttvtab-best-seller-product .ttvproduct-wrapper-content-box', '.ttvtab-best-seller-product-next', '.ttvtab-best-seller-product-prev'],];

            for (var i = 0; i < owlClass.length; i++) {
                var owl = $(owlClass[i][0]).owlCarousel({
                    loop: false, dots: false, nav: false, responsive: {
                        0: { items: 1 }, 320: { items: 1, slideBy: 1 }, 576: { items: 2, slideBy: 1 }, 768: { items: 2, slideBy: 1 }, 992: { items: 3, slideBy: 1 }, 1200: { items: 4, slideBy: 1 }, 1600: { items: 5, slideBy: 1 }, 1800: { items: 5, slideBy: 1 }
                    }
                });

                $(owlClass[i][1]).on('click', function (e) {
                    e.preventDefault();
                    $('#' + $(this).attr('data-parent') + ' .owl-nav .owl-next').trigger('click');
                });
                $(owlClass[i][2]).on('click', function (e) {
                    e.preventDefault();
                    $('#' + $(this).attr('data-parent') + ' .owl-nav .owl-prev').trigger('click');
                });
                // $('#featuredid').insertAfter('#ttvcmstab-featured-product .ttvtab-featured-product');
                // $('#newid').insertAfter('#ttvcmstab-new-product .ttvtab-new-product');
                // $('#bestid').insertAfter('#ttvcmstab-best-seller-product .ttvtab-best-seller-product');
                // $('#specialid').insertAfter('#ttvcmstab-special-product .ttvtab-special-product');
            }
            /****************** End Tab Product Slider Js *******************************************/
            /****************** Start Single Products Slider Js *******************************************/
            var swiperClass = [
                //['slider className','navigation nextClass','navigation prevClass','paging className']
                ['.ttvcmsfeatured-product .ttvfeatured-product-wrapper', '.ttvcmsfeatured-next', '.ttvcmsfeatured-prev', '.ttvcmsfeatured-product'], ['.ttvcmsnew-product .ttvnew-product-wrapper', '.ttvcmsnew-next', '.ttvcmsnew-prev', '.ttvcmsnew-product'], ['.ttvcmsspecial-product .ttvspecial-product-wrapper', '.ttvcmsspecial-next', '.ttvcmsspecial-prev', '.ttvcmsspecial-product'], ['.ttvcmsbest-seller-product .ttvbest-seller-product-wrapper', '.ttvcmsbest-seller-next', '.ttvcmsbest-seller-prev', '.ttvcmsbest-seller-product'],];

            for (var i = 0; i < swiperClass.length; i++) {
                $(swiperClass[i][0]).owlCarousel({
                    loop: false, dots: false, nav: false, responsive: {
                        0: { items: 1 }, 320: { items: 1, slideBy: 1 }, 576: { items: 2, slideBy: 1 }, 768: { items: 2, slideBy: 1 }, 992: { items: 3, slideBy: 1 }, 1200: { items: 4, slideBy: 1 }, 1600: { items: 5, slideBy: 1 }, 1800: { items: 5, slideBy: 1 }
                    },
                });

                $(swiperClass[i][1]).on('click', function (e) {
                    e.preventDefault();
                    $('.' + $(this).attr('data-parent') + ' .owl-nav .owl-next').trigger('click');
                });
                $(swiperClass[i][2]).on('click', function (e) {
                    e.preventDefault();
                    $('.' + $(this).attr('data-parent') + ' .owl-nav .owl-prev').trigger('click');
                });
                // $(swiperClass[i][3]+' .ttv-pagination-wrapper').insertAfter(swiperClass[i][3]+' .ttvproduct-wrapper-content-box');
            }
            /****************** End Single Product Sliders Js *******************************************/

        });
    </script>
    <script type="text/javascript">
        /****************** left testimonial Js *******************************************/
        $(document).ready(function () {

            var mobileViewSize = 991;

            sidePanelTestimonialSlider();
            leftRightTestimonialTitleToggle();
            $(window).resize(function () {
                sidePanelTestimonialSlider();
                leftRightTestimonialTitleToggle();
            });

            function sidePanelTestimonialSlider() {
                $('.ttvcms-left-testimonial .ttvtestimonial-content-box').owlCarousel({
                    loop: false, dots: false, nav: false, responsive: {
                        0: { items: 1 }, 320: { items: 1, slideBy: 1 }, 400: { items: 1, slideBy: 1 }, 768: { items: 1, slideBy: 1 }, 992: { items: 1, slideBy: 1 }, 1200: { items: 1, slideBy: 1 }, 1600: { items: 1, slideBy: 1 }, 1800: { items: 1, slideBy: 1 }
                    },
                });
                $('.ttvcms-left-testimonial .ttvtestimonial-prev').on('click', function () {
                    $('.ttvcms-left-testimonial .owl-nav .owl-prev').trigger('click');
                });

                $('.ttvcms-left-testimonial .ttvtestimonial-next').on('click', function () {
                    $('.ttvcms-left-testimonial .owl-nav .owl-next').trigger('click');
                });
            }

            function leftRightTestimonialTitleToggle() {
                $('.ttvcms-left-testimonial .ttvleft-right-title-toggle').on('click', function (e) {
                    e.preventDefault();
                    if (document.body.clientWidth <= mobileViewSize) {
                        if (!$(this).hasClass('open')) {
                            $(this).removeClass('open');
                            $(this).parent().parent().find('.ttvtestimonial-slider-button-wrapper').removeClass('open').stop(false).slideUp(500, "swing");
                        } else {
                            $(this).addClass('open');
                            $(this).parent().parent().find('.ttvtestimonial-slider-button-wrapper').addClass('open').stop(false).slideDown(500, "swing");
                        }
                    }
                    e.stopPropagation();
                });
            }


        });

        /****************** End left testimonial Js *******************************************/
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var mobileViewSize = 991;

            /*************** Start left Right Product Toggle in Mobile Size ***************************************************/
            leftRightProductTitleToggle();
            $(window).resize(function () {
                $('.ttvleft-right-penal-all-block .ttvleft-right-title-toggle, .ttvleft-right-penal-all-block .ttvleft-product-wrapper-info').removeClass('open');
                leftRightProductTitleToggle();
            });

            function leftRightProductTitleToggle() {
                $('.ttvleft-right-penal-all-block .ttvleft-right-title-toggle').on('click', function (e) {
                    e.preventDefault();
                    if (document.body.clientWidth <= mobileViewSize) {
                        if (!$(this).hasClass('open')) {
                            $(this).removeClass('open');
                            $(this).parent().parent().find('.ttvleft-product-wrapper-info').removeClass('open').stop(false).slideUp(500, "swing");
                        } else {
                            $(this).addClass('open');
                            $(this).parent().parent().find('.ttvleft-product-wrapper-info').addClass('open').stop(false).slideDown(500, "swing");
                        }
                    }
                    e.stopPropagation();
                });
            }
            /*************** End left Right Product Toggle in Mobile Size ***************************************************/
        });
    </script>
    <script type="text/javascript">
        /****************** left testimonial Js *******************************************/
        $(document).ready(function () {

            var mobileViewSize = 991;

            sidePanelTestimonialSlider();
            leftRightTestimonialTitleToggle();
            $(window).resize(function () {
                sidePanelTestimonialSlider();
                leftRightTestimonialTitleToggle();
            });

            function sidePanelTestimonialSlider() {
                $('.ttvcms-left-testimonial .ttvtestimonial-content-box').owlCarousel({
                    loop: false, dots: false, nav: false, responsive: {
                        0: { items: 1 }, 320: { items: 1, slideBy: 1 }, 400: { items: 1, slideBy: 1 }, 768: { items: 1, slideBy: 1 }, 992: { items: 1, slideBy: 1 }, 1200: { items: 1, slideBy: 1 }, 1600: { items: 1, slideBy: 1 }, 1800: { items: 1, slideBy: 1 }
                    },
                });
                $('.ttvcms-left-testimonial .ttvtestimonial-prev').on('click', function () {
                    $('.ttvcms-left-testimonial .owl-nav .owl-prev').trigger('click');
                });

                $('.ttvcms-left-testimonial .ttvtestimonial-next').on('click', function () {
                    $('.ttvcms-left-testimonial .owl-nav .owl-next').trigger('click');
                });
            }

            function leftRightTestimonialTitleToggle() {
                $('.ttvcms-left-testimonial .ttvleft-right-title-toggle').on('click', function (e) {
                    e.preventDefault();
                    if (document.body.clientWidth <= mobileViewSize) {
                        if (!$(this).hasClass('open')) {
                            $(this).removeClass('open');
                            $(this).parent().parent().find('.ttvtestimonial-slider-button-wrapper').removeClass('open').stop(false).slideUp(500, "swing");
                        } else {
                            $(this).addClass('open');
                            $(this).parent().parent().find('.ttvtestimonial-slider-button-wrapper').addClass('open').stop(false).slideDown(500, "swing");
                        }
                    }
                    e.stopPropagation();
                });
            }


        });

        /****************** End left testimonial Js *******************************************/
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var mobileViewSize = 991;

            /*************** Start left Right Product Toggle in Mobile Size ***************************************************/
            leftRightProductTitleToggle();
            $(window).resize(function () {
                $('.ttvleft-right-penal-all-block .ttvleft-right-title-toggle, .ttvleft-right-penal-all-block .ttvleft-product-wrapper-info').removeClass('open');
                leftRightProductTitleToggle();
            });

            function leftRightProductTitleToggle() {
                $('.ttvleft-right-penal-all-block .ttvleft-right-title-toggle').on('click', function (e) {
                    e.preventDefault();
                    if (document.body.clientWidth <= mobileViewSize) {
                        if (!$(this).hasClass('open')) {
                            $(this).removeClass('open');
                            $(this).parent().parent().find('.ttvleft-product-wrapper-info').removeClass('open').stop(false).slideUp(500, "swing");
                        } else {
                            $(this).addClass('open');
                            $(this).parent().parent().find('.ttvleft-product-wrapper-info').addClass('open').stop(false).slideDown(500, "swing");
                        }
                    }
                    e.stopPropagation();
                });
            }
            /*************** End left Right Product Toggle in Mobile Size ***************************************************/
        });
    </script>
    <script type="text/javascript">
        <!--
        /*******************************ralateproduct*******************************/
        $('.ttvrelated-product-wrapper').owlCarousel({
            loop: false, dots: false, nav: false, responsive: {
                0: { items: 1 }, 320: { items: 1, slideBy: 1 }, 576: { items: 2, slideBy: 1 }, 768: { items: 2, slideBy: 1 }, 992: { items: 3, slideBy: 1 }, 1200: { items: 4, slideBy: 1 }, 1600: { items: 5, slideBy: 1 }, 1800: { items: 5, slideBy: 1 }
            },
        });
        $('.ttvcmsrelated-next-pre-btn .ttvcmsrelated-prev ').click(function (e) {
            e.preventDefault();
            $('.ttvrelated-product-wrapper .owl-nav .owl-prev').trigger('click');
        });
        $('.ttvcmsrelated-next-pre-btn .ttvcmsrelated-next ').click(function (e) {
            e.preventDefault();
            $('.ttvrelated-product-wrapper .owl-nav .owl-next').trigger('click');
        });
        // $(owlClass[i][3]+' .ttv-pagination-wrapper').insertAfter(owlClass[i][3]+' .ttvproduct-wrapper-content-box');
        //*******************************ralateproduct******************************/
        //--></script>
</body>
</html>
