<div class="ttvleft-column-remove">
    <div class="ttvleft-column-close-btn">
    </div>
</div>
<div class="ttvcms-account ttvleft-right-penal-all-block ttvall-block-box-shadows">
    <div class="ttvleft-right-title-wrapper">
        <div class="ttvleft-right-title facet-label">Account</div>
        <div class="ttvleft-right-title-toggle">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
    </div>
    <div class="list-group ttv-accountinfo-wrapper">
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/login" class="list-group-item">Login</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/register" class="list-group-item">Register</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/forgotten" class="list-group-item">Forgotten Password</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/account" class="list-group-item">My Account</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/address" class="list-group-item">Address Book</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/wishlist" class="list-group-item">Wish List</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/order" class="list-group-item">Order History</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/download" class="list-group-item">Downloads</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/recurring" class="list-group-item">Recurring payments</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/reward" class="list-group-item">Reward Points</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/return" class="list-group-item">Returns</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/transaction" class="list-group-item">Transactions</a>
        <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=account/newsletter" class="list-group-item">Newsletter</a>
    </div>
</div>
<div class="ttvcms-sidebar ttvleft-right-penal-all-block ttvall-block-box-shadows">
    <div class="ttvleft-right-title-wrapper">
        <div class="ttvleft-right-title facet-label">Information</div>
        <div class="ttvleft-right-title-toggle">
            <i class="fa fa-angle-down" aria-hidden="true">
            </i>
        </div>
    </div>
    <ul class="nav nav-stacked ttv-accountinfo-wrapper">
        <li>
            <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=information/information&amp;information_id=4">About Us</a>
        </li>
        <li>
            <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=information/information&amp;information_id=6">Delivery Information</a>
        </li>
        <li>
            <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=information/information&amp;information_id=3">Privacy Policy</a>
        </li>
        <li>
            <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a>
        </li>
        <li>
            <a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=information/contact">Contact Us</a>
        </li>
        <li><a href="https://monster.themevolty.com/opencart/opc_electronics_salora_2301/index.php?route=information/sitemap">Site Map</a></li>
    </ul>
</div>